<div class="mvh-container mdc-text-blue-grey-50">
  <p id="date-and-time" class="center-vertical-left margin-left-20"></p>
  <h3 class="center"><b>Demo Room</b></h3>
  <div class="center-vertical-right">
    <button
      id="right-sidebar-toggle"
      class="img-btn img-btn-square img-btn-square-small right-sidebar-toggle margin-right-20 mdc-text-blue-grey-50"
      hidden
    >
      <i class="md-icon">menu</i>
    </button>
  </div>
</div>
<link
  type="text/css"
  rel="stylesheet"
  href="./components/main-view-header.css"
/>
