<button
  class="
    img-btn img-btn-rect img-btn-rect-large
    icon-btn-rect
    margin-top-20
    mdc-text-blue-grey-50
  "
  data-button-channel="{{channel}}"
  data-pointerdown-value="{{pointerdown-value}}"
  data-active-channel="{{active-channel}}"
  data-active-value="{{active-value}}"
  data-disabled-channel="{{disabled-channel}}"
  data-disabled-value="{{disabled-value}}"
  data-hidden-channel="{{hidden-value}}"
  data-hidden-value="{{hidden-value}}"  
>
  <i class="{{icon}} av-icon-small"></i>
  <di>
    <p>{{text}}</p>
    <p class="mmi-info" data-channel="{{info-channel}}">
      {{info-text}}
    </p>
  </div>
</button>

<link type="text/css" rel="stylesheet" href="./components/main-menu-item.css" />