<div class="mvl-container mdc-text-blue-grey-50">
  <div class="center">
    <vertical-gauge id="volume-gauge"></vertical-gauge>
  </div>
  <div>
    <button
      id="volume-up"
      class="img-btn img-btn-square img-btn-square-medium mdc-text-blue-grey-50"
    >
      <i class="md-icon">volume_up</i>
    </button>
    <button
      id="volume-down"
      class="
        img-btn img-btn-square img-btn-square-medium
        mdc-text-blue-grey-50
        margin-top-20 margin-bottom-20
      "
    >
      <i class="md-icon">volume_down</i>
    </button>
    <button
      id="volume-mute"
      class="img-btn img-btn-square img-btn-square-medium mdc-text-blue-grey-50"
    >
      <i class="md-icon">volume_off</i>
    </button>
  </div>
</div>

<link type="text/css" rel="stylesheet" href="./components/main-view-left.css" />
