<div class="rs-container">

  <div class="rs-card">
    <div class="rs-card-title">Lights</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-bulb-1"></i>
      </button>
      On
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-bulb-2"></i>
      </button>
      Off
    </div>
    </div>
  </div>

  <div class="rs-card">
    <div class="rs-card-title">Shades</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-blinds"></i>
      </button>
      Open
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-blinds"></i>
      </button>
      Close
    </div>
    </div>
  </div>

  <div class="rs-card">
    <div class="rs-card-title">Zone 2</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweron"></i>
      </button>
      On
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweroff"></i>
      </button>
      Off
    </div>
    </div>
  </div>

  <div class="rs-card">
    <div class="rs-card-title">Projection Screen</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-screen-d"></i>
      </button>
      Down
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-screen-u"></i>
      </button>
      Up
    </div>
    </div>
  </div>

  <div class="rs-card">
    <div class="rs-card-title">Projector</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweron"></i>
      </button>
      On
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweroff"></i>
      </button>
      Off
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-aspect"></i>
      </button>
      Aspect
    </div>
    </div>
  </div>

  <div class="rs-card">
    <div class="rs-card-title">Display Left</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweron"></i>
      </button>
      On
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweroff"></i>
      </button>
      Off
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-input_hdmi"></i>
      </button>
      In 1
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-input-dvi"></i>
      </button>
      In 2
    </div>
    </div>
  </div>

  <div class="rs-card">
    <div class="rs-card-title">Display Right</div>
    <div class="rs-card-body">
      <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweron"></i>
      </button>
      On
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-xs av-icon-poweroff"></i>
      </button>
      Off
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-input_hdmi"></i>
      </button>
      In 1
    </div>
    <div class="rs-card-body-item">
      <button
        class="img-btn img-btn-square img-btn-square-small icon-btn-square mdc-text-blue-grey-50"
      >
        <i class="av-icon-small av-icon-input-dvi"></i>
      </button>
      In 2
    </div>
    </div>
  </div>

  </div>
  <link
    type="text/css"
    rel="stylesheet"
    href="./components/right-sidebar.css"
  />
</div>
